body {
  margin: 0px;
  padding: 0px;
  background-color: rgba(100, 100, 100);
 }

.uı{
  width: 100%;
  height: 50px;
  background-color: rgb(40, 43, 66);
}
.profil{
  padding-top: 5px;
  padding-left: calc(100% - 45px);
}
.profil img{
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.sohbets{
  position: fixed;
  height: 100%;
  width: 30%;
  color: rgb(200, 200, 200);
  background-color: rgb(58, 62, 93);
}
.sohbet{
    color: rgb(255, 255, 255);
  background-color: rgb(30, 30, 30);
}
.mesaj{
  position: fixed;
  width: 70%;
  height: 60px;
  right: 0;
  bottom: 0;
  background-color: rgb(62, 69, 117);
}
